include LICENSE
include CONTRIBUTING.md
include README.md
include .mailmap
include MANIFEST.in
include nbconvert/templates/skeleton/Makefile
include nbconvert/tests/README.md

# Documentation
graft docs
exclude docs/\#*
exclude .readthedocs.yml
exclude codecov.yml

# Examples
graft examples

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
