name: Docs

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: docs-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.11"]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install texlive-plain-generic inkscape texlive-xetex latexmk enchant-2

          # pandoc is not up to date in the ubuntu repos, so we install directly
          wget https://github.com/jgm/pandoc/releases/download/3.1.2/pandoc-3.1.2-1-amd64.deb && sudo dpkg -i pandoc-3.1.2-1-amd64.deb

      - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Install
        run: pip install -v ".[all]"
      - name: List installed packages
        run: |
          pip freeze
          pip check
      - name: Build HTML docs
        run: |
          cd docs
          make html SPHINXOPTS="-W"
      - name: Upload HTML
        uses: actions/upload-artifact@v4
        with:
          name: html-${{ github.job }}-${{ strategy.job-index }}
          path: build/sphinx/html
      - name: Build PDF docs
        run: |
          cd docs
          make latexpdf
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: pdf-python-${{matrix.python-version}}-${{ github.job }}-${{ strategy.job-index }}
          path: docs/build/latex/nbconvert.pdf
